$primary: #b0d3da;
$secondary: #e1ebe2;
$dark: #22031f;
$info: #a0b1b6;
$success: #333333;
$warning: #ac9b99;
$danger: #efbc9b;
$light: #ececec67;

$input-placeholder-color: #a0b1b6;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
